<div style="width: 60%;">
    <form>
        <div>
            <label>Type</label>
            <select class="form-control" [(ngModel)]="Type">
                <option *ngFor="let type of postTypes" [ngValue]="type">{{type}}</option>
            </select>
        </div>
        <div>
            <label>Platform</label>
            <select class="form-control" [(ngModel)]="Platform">
                <option *ngFor="let platform of platforms" [ngValue]="platform">{{platform}}</option>
            </select>
        </div>
        <div>
            <label>Position</label>
            <select class="form-control" [(ngModel)]="Position">
                <option *ngFor="let position of positions" [ngValue]="position">{{position}}</option>
            </select>
        </div>
        <div>
            <label>Player Rating</label>
            <select class="form-control" [(ngModel)]="PlayerRating">
                <option *ngFor="let rating of playerRatings" [ngValue]="rating">{{rating}}</option>
            </select>
        </div>
        <div>
            <label>Description</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" [(ngModel)]="Description" placeholder="Description">
            </div>
        </div>
        <button (click)="addPost()" class="btn btn-primary">
            Add
        </button>
    </form>
</div>

<div style="padding-top: 20px; width: 30%;">
    <form class="d-flex">
        <input class="form-control" style="margin-right: 10px;" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Post
            </th>
    </thead>
    <tbody>
        <tr *ngFor="let dataItem of PostList">
            <td>post type: {{dataItem.Type}}</td>
            <td>platform: {{dataItem.Platform}}</td>
            <td>position: {{dataItem.Position}}</td>
            <td>player rating: {{dataItem.PlayerRating}}</td>
            <td>description {{dataItem.Description}}</td>
            <td>created at: {{dataItem.CreatedAt}}</td>
        </tr>
    </tbody>
</table>